
body{
   
    font-family: sans-serif;
    height: 100px;
    background-color: red;
    background-image: linear-gradient(red, yellow);
    
    
}

    



.github{
  text-align: center;
}
img{ max-width: 100%;}








.container1 {
    position: relative;
    width: 50%;
    margin: left;
    @media screen and (max-width: 800px) {
      .left, .main, .right {
        margin: center; /* The width is 100%, when the viewport is 800px or smaller */
      }
    }
    
  }
  
  /* Make the image responsive */
  .container1 img {
    width: 100%;
    height: auto;
    
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container1 .btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container1 .btn1:hover {
    background-color: black;
  }
