

html{
   
  font-family: sans-serif;
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

h1{
  
  font-family: 'Maven Pro', sans-serif;
}

img.rounded{
  border-radius: 30px;
}


.github{
  text-align: center;
}









.container1 {
    position: relative;
    width: 50%;
    
    
  }
  
  /* Make the image responsive */
  .container1 img {
    width: 100%;
    height: auto;
    
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container1 .btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .container1 .btn1:hover {
    background: white;
  }
  
  
@media screen and (max-width: 800px){
  .container1{
    margin: auto;
    width: 75%
  }
  
}